<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/article/update">
                <input type="hidden" value="<%=article.id %>" name="id">
                <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo" value="<%= article.title %>"><br>
                <textarea class="form-control" placeholder="Escreva algo aqui" name="body" id="article" hidden="false"></textarea><br>
                <label>Categorias</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category) => { %>
                        <% if(category.id == article.categoryId){ %>
                            <option value="<%= category.id%>" selected><%= category.title%></option>
                        <% }else{ %>
                            <option value="<%= category.id%>"><%= category.title%></option>
                        <% } %>   
                    <% }) %> 
                </select>
                <br>
                <button class="btn btn-success">Salvar</button>
            </form>
        </div>
    </div>
</div>
<div id="content" style="display: none;">
    <%-article.body%>
</div>

<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
      language: 'pt_BR',
      selector: '#article',
      plugins: [
          'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
      ],
      init_instance_callback: () => {
          tinymce.get("article").setContent($("#content").html())
      }
    });
  </script>
 
