<%- include ('partials/header.ejs') %>
<%- include ('partials/homenavbar.ejs') %>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Blog de estudos</h1>
          <p class="lead">Blog desenvolvido com intuito de aprender sobre as tecnologias Nodejs, HTML, EJS, entre outras.</p>
        </div>
      </div>
    <div class="container">
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <br>
        <% })  %> 
        
    </div>
    
</body>
<%- include ('partials/footer.ejs') %>
